services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db_prod
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    container_name: fastapi_backend_prod
    env_file: .env
    ports:
      - "8000:8000"
    networks:
      - app_network
    restart: unless-stopped
    depends_on:
      db:
        condition: service_started

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    container_name: react_frontend_prod
    ports:
      - "80:80"
    networks:
      - app_network
    restart: unless-stopped
    depends_on:
      - backend

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge