@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7fb;
  font-family: "Inter", sans-serif;
}

.chat-wrapper {
  width: 100%;
  max-width: 900px;
  height: 90vh;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.chat-header {
  padding: 16px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #eee;
}

.header-title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #888;
}

.header-icon {
  width: 22px;
  height: 22px;
}

.chat-window {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.msg-row {
  display: flex;
  margin-bottom: 14px;
  align-items: flex-end;
}

.msg-row.bot {
  justify-content: flex-end;
  animation: slideRight 0.4s ease;
}

.msg-row.user {
  justify-content: flex-start;
  animation: slideUp 0.4s ease;
}

.avatar {
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

.bubble {
  max-width: 60%;
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 15px;
}

.bubble.bot {
  background: #e6f0ff;
  border-bottom-right-radius: 4px;
}

.bubble.user {
  background: #dff7e7;
  border-bottom-left-radius: 4px;
}

.chat-input {
  padding: 14px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #eee;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.send-icon {
  cursor: pointer;
  font-size: 20px;
  color: #7f7ab1 ;
}

.chat-input input {
  width: 260px;
  padding: 12px 14px;
  border-radius: 14px;
  background: transparent;
  outline: none;
  font-size: 14px;
}

.chat-input input:focus {
  border-color: white;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.chat-input button {
  padding: 12px 20px;
  background: #5f9cff;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.reco-btn {
  padding: 12px 28px;
  background: #7f7ab1 !important;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

@keyframes slideRight {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
